# 1. Table

#### Creating/dropping table

In [ ]:
DROP table if exists public.earthquakes;
CREATE table public.earthquakes
(
	time timestamp
	,latitude decimal
	,longitude decimal
	,depth decimal
	,mag decimal
	,magType varchar
	,nst decimal
	,gap decimal
	,dmin decimal
	,rms decimal
	,net varchar
	,id varchar
	,updated timestamp
	,place varchar
	,type varchar
	,horizontalError decimal
	,depthError decimal
	,magError decimal
	,magNst decimal
	,status varchar
	,locationSource varchar
	,magSource varchar
)
;

COPY public.earthquakes FROM '/localpath/earthquakes1.csv' DELIMITER ',' CSV HEADER;

#### Describing table

In [ ]:
SELECT column_name, data_type, character_maximum_length, is_nullable
FROM information_schema.columns
WHERE table_name = 'table_name';

#### Insert data

In [ ]:
insert into student values(2, 'Kate', 'Sociology');
insert into student(student_id, name) values(3, 'Claire'); 
insert into student values(4, 'Jack', 'Biology');
insert into student values(5, 'Mike', 'Computer Science');

#### Constraints

In [ ]:
drop table student;

create table student (
    student_id int primary key,
    name varchar(20) not null,
    major varchar(20) unique
);

create table student (
    student_id int primary key,
    name varchar(20) not null,
    major varchar(20) DEFAULT('undecided')
);

create table student (
    student_id int auto_increment,
    name varchar(20) not null,
    major varchar(20) DEFAULT('undecided'),
    primary key(student_id)
);

#### Update and delete data

In [ ]:
update student set major = 'Bio' where major = 'Biology';
update student set major = 'CS' where major = 'Computer Science';
update student set major = 'CS' where student_id = 4;

update student set major = 'Biochemistry' 
where major = 'Bio' or major = 'Chemistry';

update student set name = 'Tom', major = 'undecided'
where student_id = 1;

update student set major = 'undecided';

delete from student; -- delete all the rows
delete from student where student_id = 5;
delete from student where name = 'Tom' and major = 'undecided'

#### Creating view

In [ ]:
Create View PercentPopulationVaccinated as
Select 
    dea.continent
    ,dea.location
    ,dea.date
    ,dea.population
    ,vac.new_vaccinations
    ,SUM(vac.new_vaccinations::int) OVER (Partition by dea.Location Order by dea.location, dea.Date) 
        as RollingPeopleVaccinated
    ,(SUM(vac.new_vaccinations::int) OVER (Partition by dea.Location Order by dea.location, dea.Date) * 100.0 / dea.population)::decimal(5,2)
        as pct
From covid_death dea
Join covid_vacination vac
    On dea.location = vac.location
    and dea.date = vac.date
where dea.continent is not null 
;

select * from PercentPopulationVaccinated;