# 1. Data types

# 1.1. Numeric types

In [ ]:
INT, INTEGER
-- Range from -2,147,483,648 to 2,147,483,647
-- Unsigned range from 0 to 4,294,967,295

BIGINT

SMALLINT
-- -32,768 -> 32,768

In [ ]:
DECIMAL(precision, scale), NUMERIC(precision, scale)
-- Exact numeric values with a specified precision and scale
-- - Scale: the numbers of digit after the point
-- - Precision: the total numbers of digit of the value

FLOAT, REAL, DOUBLE PRECISION
-- Approximate numeric values with optional precision
-- larger range than decimal

|Feature|FLOAT|DECIMAL|
|-|-|-|
|Storage|Approximate|Exact|
|Range|Large|Limited|
|Precision|Determined by significant digits|Determined by specified digits and decimal places|
|Performance|Generally faster|May be slower|
|Use cases|Scientific calculations, engineering data|Financial calculations, monetary values|

## 1.2. String types

In [ ]:
CHAR(n)
-- Fixed-length character string with a specified length

VARCHAR(n)
-- Variable-length character string with a maximum length of n

TEXT
-- Variable-length character string with no specified maximum length

## 1.3. Date and Time types

In [ ]:
DATE
-- Date values in YYYY-MM-DD format

In [ ]:
select '3/30/2023'::date + 1
    ,'2023-03-30'::date + 1 
    ,'2023-3-30'::date + 1

In [ ]:
TIME
-- Time values in HH:MM:SS format

TIMESTAMP
-- Date and time values in YYYY-MM-DD HH:MM:SS format

INTERVAL
-- A period of time

## 1.4. Other types

In [ ]:
BOOLEAN
-- Represents true or false values

In [ ]:
-- Binary types
BINARY(n)
-- Fixed-length binary string with a specified length

VARBINARY(n)
-- Variable-length binary string with a maximum length of n

BLOB, BYTEA
-- Binary large objects for storing binary data

In [ ]:
ARRAY
-- An ordered collection of elements of the same data type

JSON, JSONB
-- JSON data type for storing JSON documents

XML
-- XML data type for storing XML documents

# 2. Manipulation

## 2.1. Type manipulation

### 2.1.1. Null

#### `coalesce` function

It takes two or more arguments and returns the first one that is not null

In [ ]:
coalesce(num_orders,0)
coalesce(address,'Unknown')
coalesce(column_a,column_b)
coalesce(column_a,column_b,column_c)

#### `nullif` function

The nullif function compares two numbers, and if they are not equal, it returns the first number; if they are equal, the function returns null

In [ ]:
nullif(6,7) → 6
nullif(6,6) → null

### 2.1.2. Conversions and casting

#### `cast()` or `::`

In [ ]:
cast (1234 as varchar) 
1234::varchar

#### `to_datatype` functions

The to_datatype function can take both a value or a format string

|function|purpose|
|-|-|
|to_char|converts other types to string|
|to_number|to numeric|
|to_date|converts other types to date, with specified date parts|
|to_timestamp|to date, with specified date and time parts|

Sometimes the database automatically converts a data type. This is called **type coercion**

In [ ]:
to_date(date_column, 'DD/MM/YYYY')
-- YYYY: Year with four digits
-- MM: Month with two digits
-- DD: Day of the month with two digits
-- HH: Hour (24-hour format) with two digits
-- MI: Minute with two digits
-- SS: Second with two digits
-- AM/PM: AM or PM indicator

## 2.2. Date and time manipulation

#### Return current date/time

In [ ]:
select current_date -- only date
    ,current_time -- only time
    ,current_timestamp -- date & time
    ,now() -- date & time

#### `date_trunc`

reduce details of timestamp

In [ ]:
select date_trunc('month','2020-10-04 12:33:35'::timestamp)
-- return value in timestamp type

#### `to_char`

In [ ]:
select 
    to_char(current_date, 'YYYY-MM-DD')
    ,to_char(current_timestamp, 'YYYY-MM-DD HH24:MI:SS')
    ,to_char(current_date,'month') as MonthName
    ,to_char(current_date, 'YYYY-MM') as YearMonth
	-- return value as string

#### `date_part`, `extract`

In [ ]:
select
    date_part('month', current_timestamp)
    ,extract('day' from current_timestamp)
    ,extract(month from current_timestamp) -- month or 'month' is ok
    ,extract('month' from current_timestamp)
    -- return value as numeric

### Date/time math

In [ ]:
-- return the number of days elasped between two dates
SELECT date('2020-06-30') - date('2020-05-31') as days -- The number of days is inclusive of only one of the endpoints
    ,date('2020-05-31') - date('2020-06-30') as days

In [ ]:
-- add interval to date
SELECT date('2020-06-01') + interval '7 days' as new_date -- highly recommended
    ,date('2020-06-01') + 7 as new_date
    ,date('2020-06-01') - 7 as new_date
    ,date('2020-06-01') + interval '2 month' as new_date
    ,date('2020-06-01') + interval '2 hour'

In [ ]:
-- add/subtract interval to time, time to time
SELECT time '05:00' + interval '3 hours' as new_time
    ,time '05:00' - interval '3 hours' as new_time
    ,time '05:00' - time '03:00' as time_diff -- return { "hour": 2 }

## 2.3. Numeric manipulations

#### `round` function

In [ ]:
SELECT ROUND(1234.56789, 3);

## 2.4. Text manipulations

#### `replace` function

In [ ]:
select REPLACE('i have 10 apples','0','')

#### `split_part` function

Split text with delimiter

In [ ]:
SELECT split_part('This is an example of an example string'
        ,'an example'
        ,1)
    -- output: This is
    ,split_part('This is an example of an example string'
        ,'an example'
        ,2); 
    -- output: of

-- Note that spaces in the text will be retained 
-- unless specified as part of the delimiter.